{% extends "base.html" %}
{% block title %}Главная страница{% endblock %}
{% block body %}
    <main class="text-center">
        <h1>{% if day %}
            {% if day == 1 %}Первый день{% elif day == 2 %}Второй день{% endif %}
        {% else %} Странно, дня нет
        {% endif %}
        </h1>
        <form method="GET">
            <nav class="my-2 my-md-0 mr-md-3">
                <label for="subject">Предмет</label>
                <select name="subject" id="subject" class="form-control dropdown-toggle">
                    <option></option>
                    {% for subject in subjects %}
                        <option>{{ subject }}</option>
                    {% endfor %}
                </select>
                <label for="class">Класс</label>
                <select name="class" id="class" class="form-control dropdown-toggle">
                    <option></option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                </select>
                <input type="submit" class="btn btn-success">
            </nav>
        </form>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Имя</th>
                <th scope="col">Класс</th>
                <th scope="col">Буква класса</th>
                <th scope="col">Предметы</th>
            </tr>
            </thead>
            <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        {% if config.opened_day == 2 %}
                            <th scope="row">{{ user["id"] }}</th>
                        {% else %}
                            <th scope="row">0000</th>
                        {% endif %}
                        <td>{{ user["name"] }}</td>
                        <td>{{ user["class"] }}</td>
                        <td>{{ user["class_letter"] }}</td>
                        <td>
                            {% if current_user.is_authenticated and current_user.subject == "Главный админ" %}
                                <a href="/users/{{ day - 1 }}/{{ user["id"] }}"
                                   class="btn btn-success">Редактировать</a>
                            {% else %}
                                <a href="/users/{{ day - 1 }}/{{ user["id"] }}" class="btn btn-success">Подробнее</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </main>
{% endblock %}