<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="text-center container">
<div class="container mt-5">
    <h1>Регистрация</h1>
    <form method="post">
        <input name="Name" id="name" type="text" placeholder="Имя" class="form-control"><br>
        <input name="Surname" id="surname" type="text" placeholder="Фамилия" class="form-control"><br>
        <input name="Lastname" id="lastname" type="text" placeholder="Отчество" class="form-control"><br>
        <input name="Login" id="login" type="text" placeholder="Логин" class="form-control"><br>
        <input name="Password" id="password" type="password" placeholder="Пароль" class="form-control"><br>
        <input name="Password_confirmation" id="password" type="password" placeholder="Подтверждение пароля"
               class="form-control"><br>
        <input name="Stage_number" id="stage" type="text" placeholder="Номер класса"
               class="form-control"><br>
        <input name="Stage_letter" id="stage" type="text" placeholder="Буквы класса"
               class="form-control"><br>
        <input type="checkbox" class="form-control" name="Teamed" placeholder="В команде">
        <input type="submit" class="btn btn-success" value="Отправить">
    </form>
</div>
{#    <input type="radio" name="stage" value="radiobutton"> Пиво#}
{#    <input type="radio" name="stage" value="radiobutton"> Чай#}
{#    <input type="radio" name="stage" value="radiobutton"> Кофе <br>#}
{#    <input type="text" name="stage_letter" id="stage" placeholder="Буквы класс" class="form-control">#}
</body>
</html>